/*
 * Copyright (c) 2026 The ZMK Behavior Dynamic Macro Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <behaviors/zbdm.dtsi>
#include <dt-bindings/zmk/kscan_mock.h>
#include <dt-bindings/zmk/zbdm.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <&zbdm ZBDM_RECORD 0 &kp A &zbdm ZBDM_STOP 0 &zbdm ZBDM_PLAY 0
                        &zbdm ZBDM_CANCEL 0 &zbdm ZBDM_RECORD 1 &kp B &zbdm ZBDM_STOP 0
                        &zbdm ZBDM_PLAY 1>;
        };
    };
};

&kscan {
    rows = <1>;
    columns = <9>;
    events = <
        ZMK_MOCK_PRESS(0,0,10) ZMK_MOCK_RELEASE(0,0,20)
        ZMK_MOCK_PRESS(0,1,30)
        ZMK_MOCK_PRESS(0,2,40) ZMK_MOCK_RELEASE(0,2,50)
        ZMK_MOCK_RELEASE(0,1,60)
        ZMK_MOCK_PRESS(0,3,70) ZMK_MOCK_RELEASE(0,3,80)
        ZMK_MOCK_PRESS(0,4,90) ZMK_MOCK_RELEASE(0,4,100)
        ZMK_MOCK_PRESS(0,5,110) ZMK_MOCK_RELEASE(0,5,120)
        ZMK_MOCK_PRESS(0,6,130) ZMK_MOCK_RELEASE(0,6,140)
        ZMK_MOCK_PRESS(0,7,150) ZMK_MOCK_RELEASE(0,7,160)
        ZMK_MOCK_PRESS(0,8,170) ZMK_MOCK_RELEASE(0,8,180)
    >;
};
